{% extends 'base.html.twig' %}

{% block body %}

    <div id="page-homepage">

        <div id="primaryChartContainer">
            <canvas id="primaryChart" width="400" height="200"></canvas>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('home') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock %}
